@font-face {
  font-family: "PT Sans";
  src: url('../font/PTS55F.ttf');
}

body, html {
  font-family: "PT Sans";
  font-size: 10px;
  background-color: #f9f9f9;
  height: 100%;
  margin: 0;
}

#main_logo {
  position: fixed;
  bottom: 10px;
  right: 40px;
  width: 150px;
  height: 100px;
  background-image: url('../images/LOGO_Pumgrana.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

#sidebar {
  font-size: 14px;
  position: fixed;
  width:150px;
  height: 100%;
  float: left;
  background: #f3f3f3 url("../images/side_bar_fade.png") repeat-y 84px top;
}

.link_sub_arrow {
  float: left;
  margin-top: 34px;
  margin-left: -59px;
}

.link_arrow {
  float: left;
  margin-top: 30px;
  margin-left: -19px;
  width: 16px;
  height: 30px;
}

.side_arrow {
  top: 30px;
  left: 149px;
  position: fixed;
  width: 16px;
  height: 30px;
}

.side_taglist {
  margin-right: 10px;
}

.side_taglist_list {
  list-style-type: none;
  padding-left: 10px;
}

.side_taglist_list li {
  color: white;
  background-color: #fa4b4e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 4px;
  margin: 1px;
}

.side_button_add {
  color: #fa4b4e;
  border: 1px solid #fa4b4e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 4px 4px 4px 29px;
  background-image: url('../images/Icons_webbtn-plus_red.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 14px;
  margin-left: 10px;
}

.side_button {
  width: 100%;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
}

.side_button_circle {
  width: 100%;
  height: 100%;
}

.side_button_home {
  border-left: 2px solid #fa4b4e;
}

.side_button_bottom {
  position:fixed;
  width: 150px;
  bottom: 0;
}

.side_button_img_home { background-image: url('../images/Icons_webbtn-home_red_full.png');
      }
.side_button_img_home:hover { background-image: url('../images/Icons_webbtn-home_white_full.png'); }
.side_button_img_plus { background-image: url('../images/Icons_webbtn-plus_red_full.png'); }
.side_button_img_plus:hover { background-image: url('../images/Icons_webbtn-plus_white_full.png'); }
.side_button_img_content { background-image: url('../images/Icons_webbtn-content_red_full.png'); }
.side_button_img_content:hover { background-image: url('../images/Icons_webbtn-content_white_full.png'); }
.side_button_img_link { background-image: url('../images/Icons_webbtn-link_red_full.png'); }
.side_button_img_link:hover { background-image: url('../images/Icons_webbtn-link_white_full.png'); }

.side_button_bottom_list {
  list-style-type: none;
  padding: 0;
}

.side_button_bottom_list li {
  border-top:1px solid #d8d9da;
  width: 120px;
  margin: 0 auto;
}

#content {
  height: 100%;
  font-size: 13px;
  color: #323232;
  margin-left: 170px;
  padding-left: 10px;
}


.content_current_linked {
  height: 100%;
  position: fixed;
  right: 0;
  width: 40%;
  padding-left: 20px;
  background: #f3f3f3 url("../images/link_bar_fade.png") repeat-y 0px top;
}

.content_current_linked_main_list {
  padding-top: 21px;
  width: 556px;
  padding-bottom: 21px;
}

.content_current_linked_main_list_elem {
  -webkit-border-radius: 6px;
  margin-left: 20px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 356px;
  max-height: 85px;
  overflow: hidden;
  padding-left: 10px;
}

.content_current_linked_main_list_elem:hover {
  background-color: #e2e2e3;
}

.content_current_linked_main_list_elem_sep {
  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 10px;
  width: 300px;
  border-top:1px solid #d8d9da;
}

.content_main_list {
  padding-top: 21px;
  width: 556px;
  padding-bottom: 21px;
}

.content_main_list_elem:hover {
  background-color: #e2e2e3;
}

.content_main_list_elem {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 556px;
  max-height: 124px;
  overflow: hidden;
  padding-left: 10px;
}

.content_main_list_elem_sep {
  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 10px;
  width: 500px;
  border-top:1px solid #d8d9da;
}

.content_main_list_elem h3,
.content_current_linked_main_list_elem h3 {
  font-weight: bold;
}

.content_main_list_elem p,
.content_current_linked_main_list_elem p {
  margin-top: -6px;
}

.content_current h3 {
  font-size: 30px;
}

.content_current {
  width: 40%;
  padding-right: 60px;
  background-color: #f9f9f9;
  float: left;
}

.content_main_list a,
.content_current_linked a {
  color: inherit;
  text-decoration: none;
}

iframe, figure {
  margin: 0px;
}
