@font-face {
  font-family: "PT Sans";
  src: url('../font/PTS55F.ttf');
}

body, html {
  font-family: "PT Sans";
  font-size: 10px;
  background-color: #f9f9f9;
  height: 100%;
  margin: 0;
  overflow: hidden;
}


#container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

#sidebar {
  font-size: 14px;
  position: fixed;
  width:150px;
  height: 100%;
  float: left;
  background: #f3f3f3 url("../images/side_bar_fade.png") repeat-y 84px top;
}

.link_sub_arrow {
  -webkit-transform: rotate(44deg); /* Chrome, Safari, Opera */
  transform: rotate(44deg);
  float: left;
  margin-top: 34px;
  margin-left: -59px;
}

.link_arrow {
  float: left;
  margin-top: 30px;
  margin-left: -19px;
  width: 16px;
  height: 30px;
}

.side_arrow {
  top: 30px;
  left: 149px;
  position: fixed;
  width: 16px;
  height: 30px;
}

.side_taglist {
  margin-right: 10px;
}

.side_taglist a {
  color: inherit;
  text-decoration: none;
}

.side_taglist_list {
  list-style-type: none;
  padding-left: 10px;
}

.side_taglist_list li {
  color: white;
  background-color: #fa4b4e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 4px;
  margin: 1px;
}

.side_taglist_list li:hover {
  background-color: #f96d72;
}

.side_button_link {
  width: 100%;
  height: 100%;
}

.side_button_add {
  color: #fa4b4e;
  border: 1px solid #fa4b4e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 4px 4px 4px 29px;
  background-image: url('../images/Icons_webbtn-plus_red.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 14px;
  margin-left: 10px;
}

.side_button {
  width: 100%;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.side_button_home {
  border-left: 2px solid #fa4b4e;
}

.side_button_bottom {
  position:fixed;
  width: 150px;
  bottom: 0;
}

.side_button_img_home { background-image: url('../images/Icons_webbtn-home_red_full.png'); }
.side_button_img_home_nh { background-image: url('../images/Icons_webbtn-home_red_full.png'); }
.side_button_img_home:hover { background-image: url('../images/Icons_webbtn-home_white_full.png'); }
.side_button_img_plus { background-image: url('../images/Icons_webbtn-plus_red_full.png'); }
.side_button_img_plus_nh { background-image: url('../images/Icons_webbtn-plus_red_full.png'); }
.side_button_img_plus:hover { background-image: url('../images/Icons_webbtn-plus_white_full.png'); }
.side_button_img_content { background-image: url('../images/Icons_webbtn-content_red_full.png'); }
.side_button_img_content_nh { background-image: url('../images/Icons_webbtn-content_red_full.png'); }
.side_button_img_content:hover { background-image: url('../images/Icons_webbtn-content_white_full.png'); }
.side_button_img_link { background-image: url('../images/Icons_webbtn-link_red_full.png'); }
.side_button_img_link_nh { background-image: url('../images/Icons_webbtn-link_red_full.png'); }
.side_button_img_link:hover { background-image: url('../images/Icons_webbtn-link_white_full.png'); }

.side_button_bottom_list {
  list-style-type: none;
  padding: 0;
}

.side_button_bottom_list li {
  border-top:1px solid #d8d9da;
  width: 120px;
  margin: 0 auto;
}

#content {
  height: 100%;
  font-size: 13px;
  color: #323232;
  margin-left: 170px;
  padding-left: 10px;
}

#bottom_right_logo {
  background-image: url('../images/LOGO_Pumgrana.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  bottom: 3px;
  right: 3px;
  position: fixed;
}

.content_current_linked_mainlogo {
  height: 100%;
  background-size: 150px;
}

.content_current_linked {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 430px;
  padding-left: 20px;
  background: #f3f3f3 url("../images/link_bar_fade.png") repeat-y 0px top;
  overflow-y: auto;
}


.content_current_linked_main_list_elem_url {
  color: #fa4b4e;
  font-weight: bold;
}

.content_current_linked_main_list {
  padding-top: 21px;
  width: 387px;
  padding-bottom: 21px;
}

.content_current_linked_main_list_elem {
  -webkit-border-radius: 6px;
  margin-left: 20px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 356px;
  max-height: 85px;
  overflow: hidden;
  padding-left: 10px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.content_current_linked_main_list_elem:hover {
  background-color: #e2e2e3;
}

.content_current_linked_main_list_elem_sep {
  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 10px;
  width: 300px;
  border-top:1px solid #d8d9da;
}

.content_main_list {
  padding-top: 21px;
  width: 556px;
  padding-bottom: 21px;
}

.content_main_list_elem:hover {
  background-color: #e2e2e3;
}

.content_main_list_elem {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 556px;
  max-height: 124px;
  overflow: hidden;
  padding-left: 10px;
}

.content_main_list_elem_sep {
  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 10px;
  width: 500px;
  border-top:1px solid #d8d9da;
}

.content_main_list_elem h3,
.content_current_linked_main_list_elem h3 {
  font-weight: bold;
}

.content_main_list_elem p,
.content_current_linked_main_list_elem p {
  margin-top: -14px;
}

.content_current a:hover {
  text-decoration: underline;
}

.content_current img {
  margin: 10px;
  float: right;
}


.content_current a {
  text-decoration: inherit;
  color: #0855ff;
}

.content_current h3 {
  font-size: 30px;
  margin-top: 0px;
  padding-top: 25px;
}

.content_current {
  max-height: 100vh;
  width: calc(100% - 450px);
  float: left;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.middle_search_div {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.middle_search_logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center 231px;
  background-size: 443px;
  height: 400px;
}

.middle_search {
  margin: auto;
  width: 800px;
  height: 75px;
  padding-left: 14px;
  font-family: "PT Sans";
  font-size: 17px;
  src: url('../font/PTS55F.ttf');
}

.content_main_list a,
.content_current_linked a {
  color: inherit;
  text-decoration: none;
}

.window_pop_up_button_add {
  float: left;
  padding: 4px 4px 4px 35px;
  background-image: url('../images/Icons_webbtn-plus_red_full.png');
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 24px;
}

.content_current_linked_mainlogo input {
  margin-left: 19px;
  margin-top: 29px;
  width: 300px;
  height: 28px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
}

#sidebar input {
  margin-left: 10px;
  margin-top: 10px;
  width: 80%;
  height: 28px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
}

.window_pop_up input {
  width: 100%;
  height: 38px;
  border: 1px solid #ccc;
  font-size: 19px;
  border-radius: 5px;
}

.window_pop_up_form_submit {
  color: white;
  background-color: #fa4b4e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  margin: 1px;
  width: 140px;
  margin-top: 20px;
}

.window_pop_up {
  color: #fa4b4e;
  width: 600px;
  height: 340px;
  padding: 30px;
  background-color: #f3f3f3;
  margin: auto;
}

.window_pop_up_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
}

iframe, figure {
  margin: 0px;
}
